/TrabajosU/POO/Lab4/P2/cmake-build-debug
/TrabajosU/POO/Lab4/P3/cmake-build-debug
/TrabajosU/POO/Lab5/cmake-build-debug
/TrabajosU/POO/Lab6/cmake-build-debug
/TrabajosU/POO/Lab7/cmake-build-debug
/TrabajosU/POO/Lab8/cmake-build-debug
/TrabajosU/POO/Lab9/cmake-build-debug
/TrabajosU/POO/Puntos Lab/Punto 1 lab/cmake-build-debug
/TrabajosU/POO/Puntos Lab/Punto 2 lab/cmake-build-debug
/TrabajosU/POO/Puntos Lab/Punto 3 lab/cmake-build-debug
/TrabajosU/POO/Puntos Lab/Punto 4 lab/cmake-build-debug
/TrabajosU/POO/Puntos Lab/Punto 5 lab/cmake-build-debug
/TrabajosU/POO/PuntoTriangulo/cmake-build-debug
/TrabajosU/POO/T1//cmake-build-debug